@model DataSpace.Models.Mission

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commancement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commancement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conclusion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conclusion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MissionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
