@model IEnumerable<DataSpace.Models.Experiment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfSubmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleDrawing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperimentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeildOfResearch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialEconomicObjective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadIstitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSubmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Affiliation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleDrawing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperimentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeildOfResearch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialEconomicObjective)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadIstitution.ABN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mission.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperimentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExperimentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperimentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
