@model IEnumerable<DataSpace.Models.Experiment>

@{
    ViewData["Title"] = "Experiments";
    var isLoggedIn = Context.Session.GetInt32(nameof(Person.PersonID)).HasValue;
}

<h1>Experiments</h1>

@if (isLoggedIn)
{
    <p>
        <a asp-action="Create">Submmit new Experiment</a>
    </p>
}
<form class="form-inline" asp-action="Index" method="post">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Title" name="Title" placeholder="Title">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Aim" name="Aim" placeholder="Aim">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Objective" name="Objective" placeholder="Objective">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Institution" name="Institution" placeholder="Institution">
    <input type="submit" value="Search" class="btn btn-primary mb-2" />

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperimentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadIstitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objective)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExperimentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadIstitution.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mission.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ExperimentID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
