@model DataSpace.Models.Participation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Participation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Participant.Affiliation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiment.Aim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParticipateID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
