@model IEnumerable<DataSpace.Models.Participation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.Affiliation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experiment.Aim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParticipateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParticipateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParticipateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
